# misc
.DS_Store
*.pem

# dependencies
/node_modules
/packages/*/node_modules

# vscode
.vscode

# build outputs
/dist
/packages/*/dist

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-debug.log*

# TypeScript
*.tsbuildinfo
tsconfig.tsbuildinfo

# tooling caches
.eslintcache
.turbo

# ide
.idea
.history
